@page
@model BookApp.Pages.BookList.EditModel
@{
}
<h1 class="text-info">Update Book</h1>
<div class="border container" style="padding:30px">
    <form method="post">
        <input type="hidden" asp-for="Book.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger form-group"> </div>
        <div class="form-group">
            <label class="col-6" asp-for="Book.Name">Name</label>
            <input class="col-6 form-control" asp-for="Book.Name" type="text" id="formGroupName">
            <span asp-validation-for="Book.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="col-6" asp-for="Book.Author">Author</label>
            <input class="col-6 form-control" asp-for="Book.Author" type="text" id="formGroupAuthor">
            <span asp-validation-for="Book.Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="col-6" asp-for="Book.ISBN">ISBN</label>
            <input class="col-6 form-control" asp-for="Book.ISBN" type="text" id="formGroupISBN">
            <span asp-validation-for="Book.ISBN" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <input type="submit" class="btn btn-primary form-control" value="Update" />
            </div>
            <div class="col-3 ">
                <a asp-page="Index" class="btn btn-success form-control ">Back to Index</a>
            </div>
        </div>
    </form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}